/* HERO STYLES */

.hero-container {
    min-width: 20rem;
    max-width: 50rem;

    margin-left: auto;
    margin-right: auto;

    padding-top: 10rem;

    display: flex;
}

@media (max-width: 50rem) {
    .hero-container {
      display: block;
      padding-top: 2rem;
    }
  }

.hero-left-col {
    flex: 66.66%;
}

.hero-right-col {
    flex: 33.33%;
}

.hero-card {
    background: rgba(255,255,255,.8);
    color: #666;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .05rem .05rem 0.2rem lightblue;
    text-shadow: none;
    max-width: 15rem;
}

.hero-card-info {
    visibility: visible;
    opacity: 1;
    height: 100%;

    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.hero-cta-form {
    display: flex;
    flex-direction: column;
}

.hero-cta-form-group {
    padding-bottom: 1rem;
}

.weather-icon {
    vertical-align: middle;
}

.loading img {
    background-size: cover;
    height: 2rem;
    width: 2rem;
    float: left;
}

.loading-text {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2.5rem;
}

.current-temp {
    font-size: 2rem;
    vertical-align: middle;
}

.cta-button {
    background-color: rgb(27, 76, 116);
	-moz-border-radius:1rem;
	-webkit-border-radius:1rem;
	border-radius:1rem;
    border: 0;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
    font-size:17px;
    font-weight: bold;
	padding:16px 31px;
    text-decoration:none;
    width: 50%;
}
