.hero-container {
    min-width: 20rem;
    max-width: 50rem;

    margin-left: auto;
    margin-right: auto;

    padding-top: 5rem;

    display: flex;
}

@media (max-width: 50rem) {
    .hero-container {
      display: block;
    }
  }

.hero-left-col {
    flex: 66.66%;
}

.hero-right-col {
    flex: 33.33%;
}

.hero-card {
    background: rgba(255,255,255,.8);
    color: #666;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .05rem .05rem 0.2rem lightblue;
    text-shadow: none;
    max-width: 15rem;
}

.hero-card-info {
    visibility: visible;
    opacity: 1;
    height: 100%;

    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.hero-cta-form {
    display: flex;
    flex-direction: column;
}

.hero-cta-form-group {
    padding-bottom: 1rem;
}