/* CHECKBOX STYLES */

.form-checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 4px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .8rem;
}

.form-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.form-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.form-checkbox-container:hover input ~ .form-checkmark {
    background-color: rgb(165, 211, 248);
  }
  
  /* When the checkbox is checked, add a blue background */
  .form-checkbox-container input:checked ~ .form-checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .form-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .form-checkbox-container input:checked ~ .form-checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .form-checkbox-container .form-checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }