html {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;

    color: white;
    text-shadow: 0 0 5px gray;
    background-color: rgb(30, 90, 138);

    background: url("../../assets/img/sky.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    padding: 2rem;
}

.loading img {
    background-size: cover;
    height: 2rem;
    width: 2rem;
    float: left;
}

.loading-text {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2.5rem;
}

.weather-icon {
    vertical-align: middle;
}

.current-temp {
    font-size: 2rem;
    vertical-align: middle;
}

.cta-button {
    background-color: rgb(27, 76, 116);
	-moz-border-radius:1rem;
	-webkit-border-radius:1rem;
	border-radius:1rem;
    border: 0;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
    font-size:17px;
    font-weight: bold;
	padding:16px 31px;
    text-decoration:none;
    width: 50%;
}

.h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.h3 {
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

p {
    padding-bottom: .5rem;
}

.visuallyHidden {
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0px !important;
    width: 0px !important;
    position: absolute;
}

.hidden {
    display: none !important;
}

.form-field {
    width: 10rem;
    padding: .6rem 1rem;
    border-radius: 1rem;
    border: 0rem;
    font-size: .8rem;
    color: rgb(26, 80, 123);
}

.validationError {
    background: #c51244;
    padding: 1rem;
    border-radius: .5rem;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top:.3rem;
    margin-bottom: 1rem;
}

.validationError:before{
    content: '';
    width: 0;  
    height: 0;  
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute;  
    top: -10px; 
  }